/* Registratio form */

.register-photo, .login-photo {
    padding: 35px 0;
  }

  .register-photo .image-holder-dish {
    display: table-cell;
    max-height: 100%;
    max-width: 100%;
    background: url(./Images/Dapper.png);
    background-repeat: no-repeat;
  }


  .login-photo .image-holder {
    display: table-cell;
    max-height: 100%;
    max-width: 100%;
    background: url(./Images/LoginForm.png);
    background-repeat: no-repeat;

  }

  .register-photo .Reservation-image-holder {
    display: table-cell;
    max-height: 100%;
    max-width: 100%;
    background: url(./Images/Dapper.png);
    background-repeat: no-repeat;
  }
  
  .register-photo .image-holder {
    display: table-cell;
    max-height: 100%;
    max-width: 100%;
    background: url(./Images/Sign\ Up.jpeg);
    background-repeat: no-repeat;
  }
  
  .register-photo .form-container , .login-photo .form-container {
    display: table;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  }
  
  .register-photo form , .login-photo form {
    display: table-cell;
    width: 10px;
    background-color: #ffffff;
    padding: 40px 60px;
    color: #505e6c;
  }
  
  @media (max-width:991px) {
    .register-photo form , .login-photo form {
      padding: 40px;
    }
  }
  
  .register-photo form h2, .login-photo form h2 {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  .register-photo form .form-control,  .login-photo form .form-control {
    border: none;
    border-bottom: 1px solid ;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    margin-bottom: 5px;
    text-indent: 6px;
    height: 40px;
    width: 250px;
  }
  
  
  .register-photo form .btn-primary ,  .login-photo form .btn-primary {
    background:  rgb(240, 134, 85);
    width: 250px;
    border: none;
    border-radius: 5px;
    padding: 11px;
    box-shadow: none;
    margin-top: 10px;
    color: #f1f7fc;
    text-shadow: none;
    outline: none !important;
  }
  
  .register-photo form .btn-primary:hover, .register-photo form .btn-primary:active , .login-photo form .btn-primary:hover, .login-photo form .btn-primary:active {
    background: #eb5e3b;
  }
  
  .register-photo form .btn-primary:active ,  .login-photo form .btn-primary:active {
    transform: translateY(1px);
  }
  
  .register-photo form .already ,  .login-photo form .already {
    display: inline-;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
  }

  .register-photo .contact_image-holder {
    display: table-cell;
    max-height: 80%;
    max-width: 100%;
    background: url(./Images/Contactus.jpg);
    background-size: cover;
  }
  /*------ Login Form ---- */
  
